{% import 'appbuilder/general/lib.html' as lib %}
{% set INSIGHTS_VERSION = appbuilder.app.config.get('INSIGHTS_VERSION') %}
<html>
  <head>
    <title>
      {% block title %}
        {% if title %}
          {{ title }}
        {% elif appbuilder and appbuilder.app_name %}
          {{ appbuilder.app_name }}
        {% endif %}
      {% endblock %}
    </title>
    {% block head_meta %}{% endblock %}
    {% block head_css %}
      <link rel="icon" type="image/png" href="/static/assets/images/favicon.png">
      <link rel="stylesheet" type="text/css" href="/static/appbuilder/css/flags/flags16.css" />
      <link rel="stylesheet" type="text/css" href="/static/appbuilder/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="/static/appbuilder/css/qmatic_version.css">

      {% for entry in get_unloaded_chunks(css_manifest('theme'), loaded_chunks) %}
        <link rel="stylesheet" type="text/css" href="{{ entry }}" />
      {% endfor %}

      {% if entry %}
        {% set entry_files = css_manifest(entry) %}
        {% for entry in get_unloaded_chunks(entry_files, loaded_chunks) %}
          <link rel="stylesheet" type="text/css" href="{{ entry }}" />
        {% endfor %}
      {% endif %}

    {% endblock %}

    {% with filename="theme" %}
      {% include "superset/partials/_script_tag.html" %}
    {% endwith %}

    <input
      type="hidden"
      name="csrf_token"
      id="csrf_token"
      value="{{ csrf_token() if csrf_token else '' }}"
    >
  </head>

  <body {% if standalone_mode %}class="standalone"{% endif %}>
    {% block navbar %}
      {% if not standalone_mode %}
        <header class="top" role="header">
          {% include 'appbuilder/navbar.html' %}
        </header>
      {% endif %}
    {% endblock %}

	<div class="wrap" {% if standalone_mode %}style="display:none"{% endif %}>
    {% block body %}
      <div id="app" data-bootstrap="{{ bootstrap_data }}" >
        <img src="/static/assets/images/loading.gif" style="width: 50px; margin: 10px;">
      </div>
    {% endblock %}
	</div>

    <!-- Modal for misc messages / alerts  -->
    <div class="misc-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% block tail_js %}
      {% if entry %}
        {% with filename=entry %}
          {% include "superset/partials/_script_tag.html" %}
        {% endwith %}
      {% endif %}
    {% endblock %}
   <div class="version">
	   Powered by Qmatic Orchestra and Insights [{{INSIGHTS_VERSION}}]
   </div>
	
	
	<script>
        $( document ).ready(function() {
            if (document.URL.includes("hwdashboard")) {
				var checkExist = setInterval(function() {
				    if ($('table[id^="DataTables_"]').length) {
						$('table[id^="DataTables_Table"]').first().DataTable().order([4,'desc']).draw();
						$('table[id^="DataTables_Table"]').last().DataTable().order([5,'desc']).draw();
					    
						clearInterval(checkExist);
				    }
				}, 100);
            }
			
			function hideDiv() {
				var len = $( ".background--white" ).length;
				$( ".background--white" ).each(function() {
					$( this ).hide();
				});
				$('.dashboard-header').hide();
				$(".wrap").fadeIn(2000);
				if(len == 0) {
					setTimeout(hideDiv, 100);
				}
			}

			if($('body').hasClass('standalone')) {
				hideDiv();
			}
        });
    </script>
	
  </body>
</html>
